# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
#*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
#*.dll
*.so
*.so.*
*.dylib

# Executables
#*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/.vs
/CMakeFiles
/Debug
/FurnaceXX.dir
/Release
/Win32
/VisualC/.vs/VisualC2013/v16
/RelWithDebInfo
